# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
getaddr
rpc.squared
rpctest
square

.*

# rpcgen output files
src/square_clnt.c
src/square_svc.c
src/square_xdr.c
